<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>KKB Project</title>
</head>
<body>
    <h1>Welcome To <u>KKB</u> Project</h1>
    <h2>Portfolio Optimization</h2>

    <a href="/about"><button class="btn-detail">About Project</button></a>
    <a href="/kkb"><button class="btn-try">Try This Project!</button></a>
</body>
</html>
